a:hover{
    text-decoration: none;
    color: #000;
}
a{
    color: #000;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Goldman', cursive;
}
.title h1{
    font-size: 60px;
    color: #000;
    text-align: center;
    
    margin: 50px 0;
    font-weight: 700;
}
.title span{
    color: #FCD842;
}
.trainingFooter1 h3,.trainingFooter2 h3{
    
    font-weight: 500;
    line-height: 50px;
}
.trainigLeft,.trainingRight{
    position: relative;
}
.trainingFooter1{
    height: 50px;
    width: 75%;
    background: #FCD842;
    position: absolute;
    bottom: 20%;
    
}
.trainingFooter2{
    height: 50px;
    width: 75%;
    background: #FCD842;
    position: absolute;
    bottom: 20%;
    
}
.arrow{
    margin-left: 20px;
}