.footer {
    height: 400px;
    width: 100%;
    background: #171426;
    color: #fff;
}
ul li{
    list-style: none;
    margin-bottom: 20px;
    font-size: 14px;
}
ul{
    margin: 0;
    padding: 0; 
}
.footer ul a{
    color: #fff;
}
.footerLi li:hover{
    color: #FCD842;
    margin-left: 10px;
    transition: .5s;
}
.footer h5{
    font-size: 15px;
    padding-bottom: 15px;
}
.socialLink li{
    display: inline-block;
    margin-right: 15px;
}
.copyright{
    text-align: center;
    height: 30px;
    width: 100%;
    color: #737376;
    line-height: 30px;
    padding-top: 55px;
    background: transparent;
}


/* =========== Responsive site ====== */
@media (min-width: 320px) { 
h1{
    font-size: 17px !important;
    margin-bottom: 0;
}
h3{
    font-size: 14px !important;
}
#Footer{
    height: 885px;
}
.copyright{
    font-size: 12px !important;
}
.bannerIcon{
    display: none !important;
}
.navbar-nav .nav-link {
    margin-bottom: -25px;
}
.bannerDescription{
    font-size: 12px;
    margin-top: -12%;
}
}


@media (min-width: 576px) { 
    .bannerTitle{
        text-transform: uppercase;
        margin-top: 0;
    }
    h1{
        font-size: 19px !important;
        margin-bottom: 0;
    }
    .bannerDescription{
        font-size: 16px;
        margin-top: 0;
    }
    .sarviceDet{
        font-size: 10px;
    }
    
 }


@media (min-width: 768px) { 
    h1{
        font-size: 25px !important;
        margin-bottom: 0;
    }
    .bannerDescription{
        font-size: 16px;
        margin-top: 0;
    }
    .sarviceDet{
        font-size: 14px;
    }
    #Footer {
        height: 485px;
    }
    ul li {
        list-style: none;
        margin-bottom: 20px;
        font-size: 11px;
 }
 .newsletter{
     font-size: 12px;
 }
}


@media (min-width: 992px) { 
    #Footer {
        height: 375px;
    }
 }

@media (min-width: 1200px) { 

 }